<% include  ../layout.ejs %>
  <% include ../users/profile_panel.ejs%>

            </div> <!--col-->
        </div> <!--row-->
      </div> <!--container-->
    </div> <!--sub-header-->

    <!-- !!! Slider !!!-->
    <div class="container">
	  <div class="row">
	    <div class="col-xs-12">
	    	<ul class="breadcrumb">
	    		<li>You are here:</li>
          <li>Create AD</li>
	    	</ul>

	    	<h1 class="section-title">Create AD</h1>

	    	<form class="content-form" action="/createuserads" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label class="caption">Select a Category:</label>
            <select name="category">
              <option>--- select ---</option>
              <option>Painter</option>
              <option>Carpenter</option>
              <option>Builder</option>
            </select>
          </div> <!--form-group-->

          <div class="hr-block">
            <hr>
            <span class="block-title">AD Details</span>
          </div> <!--hr-block-->

          <div class="form-group">
            <label class="caption">AD Title (<span class="ic-mandatory">*</span>):</label>
            <input class="full" type="text" name="adtitle">
            <p class="form-note"><i class="fa fa-hand-o-right"></i>Give your AD a descriptive title to improve its visibility.</p>
          </div> <!--form-group-->
          <div class="form-group">
            <label class="caption">Description (<span class="ic-mandatory">*</span>):</label>
            <textarea class="full" name="description"></textarea>
          </div> <!--form-group-->
          <div class="form-group">
            <label class="caption">Add Pictures:</label>
            <div class="clearfix pic-container">
              <div class="ad-media top-row"> <!--pic01-->
                <div class="media-box media-lrg">
                  <input type="file" name="pic_1" id="pic_1" tgt="#img_1" style="display:none">
                  <img src="images/no-image.jpg" alt="" id="img_1" tgt="#pic_1">
                </div> <!--media-box-->
              </div> <!--ad-media-->
              <div class="ad-media top-row"> <!--pic02-->
                <div class="media-box media-lrg">
                  <input type="file" name="pic_2" id="pic_2" tgt="#img_2" style="display:none">
                  <img src="images/no-image.jpg" alt="" id="img_2" tgt="#pic_2">
                </div> <!--media-box-->
              </div> <!--ad-media-->
              <div class="ad-media top-row"> <!--pic03-->
                <div class="media-box media-lrg">
                  <input type="file" name="pic_3" id="pic_3"  tgt="#img_3" style="display:none">
                  <img src="images/no-image.jpg" alt="" id="img_3" tgt="#pic_3">
                </div> <!--media-box-->
              </div> <!--ad-media-->
              <div class="ad-media top-row"> <!--pic04-->
                <div class="media-box media-lrg">
                  <input type="file" name="pic_4" id="pic_4" tgt="#img_4" style="display:none">
                  <img src="images/no-image.jpg" alt="" id="img_4" tgt="#pic_4">
                </div> <!--media-box-->
              </div> <!--ad-media-->
              <div class="ad-media top-row"> <!--pic05-->
                <div class="media-box media-lrg">
                  <input type="file" name="pic_5" id="pic_5" tgt="#img_5" style="display:none">
                  <img src="images/no-image.jpg" alt="" id="img_5" tgt="#pic_5">
                </div> <!--media-box-->
              </div> <!--ad-media-->
              <div class="ad-media top-row"> <!--pic06-->
                <div class="media-box media-lrg">
                  <input type="file" name="pic_6" id="pic_6" tgt="#img_6" style="display:none">
                  <img src="images/no-image.jpg" alt="" id="img_6" tgt="#pic_6">
                </div> <!--media-box-->
              </div> <!--ad-media-->
              <div class="ad-media"> <!--pic07-->
                <div class="media-box media-lrg">
                  <input type="file" name="pic_7" id="pic_7" tgt="#img_7" style="display:none">
                  <img src="images/no-image.jpg" alt="" id="img_7" tgt="#pic_7">
                </div> <!--media-box-->
              </div> <!--ad-media-->
              <div class="ad-media"> <!--pic08-->
                <div class="media-box media-lrg">
                  <input type="file" name="pic_8" id="pic_8" tgt="#img_8" style="display:none">
                  <img src="images/no-image.jpg" alt="" id="img_8" tgt="#pic_8">
                </div> <!--media-box-->
              </div> <!--ad-media-->
              <div class="ad-media"> <!--pic09-->
                <div class="media-box media-lrg">
                  <input type="file" name="pic_9" id="pic_9" tgt="#img_9" style="display:none">
                  <img src="images/no-image.jpg" alt="" id="img_9" tgt="#pic_9">
                </div> <!--media-box-->
              </div> <!--ad-media-->
              <div class="ad-media"> <!--pic10-->
                <div class="media-box media-lrg">
                  <input type="file" name="pic_10" id="pic_10" tgt="#img_10" style="display:none">
                  <img src="images/no-image.jpg" alt="" id="img_10" tgt="#pic_10">
                </div> <!--media-box-->
              </div> <!--ad-media-->
            </div> <!--pic-container-->
            <p class="form-note"><i class="fa fa-hand-o-right"></i>ADs with pictures are more successful. You may load upto 10 pictures, each upto a size of 4MB.</p>
          </div> <!--form-group-->

          <div class="form-group">
            <label class="caption">Advertised by:</label>
            <select name="advertised">
              <option>--- select ---</option>
              <option>Private</option>
            </select>
          </div> <!--form-group-->

          <div class="form-group">
            <label class="caption">Select a job Type:</label>
            <select name="jobtype">
              <option>--- select ---</option>
              <option>Casual</option>
            </select>
          </div> <!--form-group-->

          <div class="form-group">
            <label class="caption">Strat Date (<span class="ic-mandatory">*</span>):</label>
            <input type="text" name="startdate">
          </div> <!--form-group--> 
          <div class="form-group">
            <label class="caption">End Date (<span class="ic-mandatory">*</span>):</label>
            <input type="text" name="enddate">
          </div> <!--form-group--> 
          <div class="form-group">
            <label class="caption">KeyWords (<span class="ic-mandatory">*</span>):</label>
            <input type="text" name="keywords">
          </div> <!--form-group--> 

          <div class="hr-block">
            <hr>
            <span class="block-title">Contact Details</span>
          </div> <!--hr-block-->

          <div class="form-group">
            <label class="caption">Email Address (<span class="ic-mandatory">*</span>):</label>
            <input type="email" name="email">
          </div> <!--form-group-->
          <div class="form-group">
            <label class="caption">Contact Name (<span class="ic-mandatory">*</span>):</label>
            <input type="text" name="contactname">
          </div> <!--form-group-->
          <div class="form-group">
            <label class="caption">Phone Number (<span class="ic-mandatory">*</span>):</label>
            <input type="number" name="phone">
          </div> <!--form-group-->          
          <div class="form-group">
            <label class="caption">Address (<span class="ic-mandatory">*</span>):</label>
            <input type="text" name="address" id="address">            
            <div class="btn-location">
              <a href="#"><i class="fa fa-crosshairs"></i></a>
              <span class="caption">(use current location)</span>
            </div> <!--btn-location-->            
            <input type="hidden" name="latitude" id="latitude">
            <input type="hidden" name="longitude" id="longitude">
            <p class="form-note"><i class="fa fa-hand-o-right"></i>Help users to locate your AD by entering your full address or suburb.</p>
          </div> <!--form-group-->          
          <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCK5GFWPItW7WOsS7BlnOg1YSJ35AHPkfo&sensor=false"></script>

          <script type="text/javascript">

            var marker = null;
            var map;            
            var i=1;

            function readURL(input, target) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $(target).attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            jQuery(document).ready(function(){
              $(".pic-container img").click(function(){
                $($(this).attr('tgt')).trigger('click');
              });
              $(".pic-container input[type='file']").change(function(){
                readURL(this,$(this).attr('tgt'));
              });
              
              $.ajax({
                url: "http://freegeoip.net/json/<%=ip%>",
                type:"get",
                data:"",
                success: function(response){
                  console.log(response);
                },
                error:function(err){                  
                  alert(err);
                }
              });
            });

            function initialize() {
              var myLatlng = new google.maps.LatLng(22.7253, 75.8655);
              var mapOptions = {
                center: myLatlng,
                zoom: 12
              };
              map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);              
            }            
            google.maps.event.addDomListener(window, 'load', initialize);            
            $("#address").blur(function(){
              //var address=$("#city").val()+"+"+$("#state").val()+"+"+$("#zipcode").val();//address which you want Longitude and Latitude
                jQuery.ajax({
                    type: "GET",
                    dataType: "json",
                    url: "http://maps.googleapis.com/maps/api/geocode/json",
                data: {'address': $("#address").val(),'sensor':false},
                    success: function(data){
                      var newPosition = new google.maps.LatLng(data.results[0].geometry.location.lat, data.results[0].geometry.location.lng);
                      jQuery("#latitude").val(data.results[0].geometry.location.lat);
                      jQuery("#longitude").val(data.results[0].geometry.location.lng);
                      map.setCenter(newPosition);
                      if(marker==null){
                      marker = new google.maps.Marker({
                          position: newPosition,
                          title: data.results[0].formatted_address,
                        draggable:true
                      });
                        marker.setMap(map);
                        google.maps.event.addListener(marker, 'dragend', function() { 
              url = "https://maps.googleapis.com/maps/api/geocode/json";
              jQuery.ajax({
                    type: "GET",
                    dataType: "json",
                    url: url,
                    data: {'latlng':marker.position.lat()+","+marker.position.lng(), "sensor":true},
                    success: function(data){
                                var addComps = data.results[0].address_components;
                                jQuery("#latitude").val(data.results[0].geometry.location.lat);
                                jQuery("#longitude").val(data.results[0].geometry.location.lng);
                            jQuery("#address").val(data.results[0].formatted_address);                           
                                marker.setTitle(data.results[0].formatted_address);
                              },
                              error: function(err){          
                                console.log(err)
                              }
                          });
                        }); 
                      }else{
                        marker.setPosition(newPosition);
                        marker.setTitle(data.results[0].formatted_address);                        
                      }
                    },
                    error: function(err){          
                      console.log(err)
                    }
                });
            });
          </script>

          <div class="locate-map" id="map-canvas">
            
          </div> <!--map-->
          <ul class="btn-group in-row">
            <li><a href="#" class="btn btn-primary btn-main sml">Cancel</a></li>
            <li><a href="preview-ad-user.html" class="btn btn-primary btn-main sml">Preview</a></li>
            <li><button type="submit"  class="btn btn-primary btn-main sml">Publish</button></li>
          </ul>
        </form>
      </div> <!--col-->
    </div> <!--row-->
    </div> <!--container-->

    <!-- !!! footer !!!-->
    <% include  ../footer.ejs %> 
    <!--footer-wrapper-->