<htmL>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/favicon.png">
    <title>Tradie</title>
    <!-- CSS -->
    <link href="/stylesheets/font-awesome.min.css" rel="stylesheet">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/calendar/jquery.ui.all.css">
    <!-- JS -->
    <script src="/javascripts/jquery.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/function.js"></script>
    <!-- datepicker js-->
    <!--<script src="calendar/jquery-1.10.2.js"></script>-->
    <script src="/calendar/jquery.ui.core.js"></script>
    <script src="/calendar/jquery.ui.widget.js"></script>
    <script src="/calendar/jquery.ui.datepicker.js"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <a style="display:none" id="logindialog" href="javascript:void(0);" data-toggle="modal" data-target=".login-popup" data-backdrop="static">Login</a>

    <div class="modal fade login-popup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <form action="/adminlogin" method="post">
          <div class="modal-content clearfix">
            <h1>Sign in</h1>
            <div class="form-group">
              <label class="caption">UserName (<span class="ic-mandatory">*</span>):</label>
              <input type="text" name="username" id="username" required>
            </div> <!--form-group--> 
            <div class="form-group">
              <label class="caption">Password (<span class="ic-mandatory">*</span>):</label>
              <input type="password" name="password" id="password" required>
            </div> <!--form-group--> 
            <ul class="btn-group in-row" style="float:right">              
              <li><button type="submit" id="submit" class="btn btn-primary btn-main sml">Login</button></li>
            </ul>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>
    <script>
      $(document).ready(function(){
        $("#logindialog").click();
      });      
    </script>