<% include  ../layout.ejs %>
<% include profile_panel.ejs%>


          </div> <!--col-->
        </div> <!--row-->
      </div> <!--container-->
    </div> <!--sub-header-->

    <!-- !!! Slider !!!-->
    <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <ul class="breadcrumb">
          <li>You are here:</li>
          <li>Profile</li>
        </ul>

        
      </div> <!--col-->
    </div> <!--row-->
    </div> <!--container-->

    <!-- !!! footer !!!-->
    <% include  ../footer.ejs %> 
    <!--footer-wrapper-->


