<% include  ../layout.ejs %>
<% include ../search_panel.ejs %>
    <!-- !!! Slider !!!-->
    <div class="container content">
      <% if(data && data.length > 0) {%>
  	  <div class="row">
        <div class="col-xs-12">
          <ul class="breadcrumb">
            <li>You are here:</li>
            <li><%= data[0].displayname %></li>
          </ul>
        </div> <!--col-->
      </div><!--row-->
      <div>
          <%- data[0].content %>
      </div> <!--col-->
      <% }else{%>
        <br/>
        <p>No page found.</p>
      <% }%>
    </div> <!--container-->
<% include  ../footer.ejs %> 
  </body>
</html>
