<!-- Fixed navbar -->
<div class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" style="margin-top: -3px; float: left"><img src="/images/eTradie.png"</a>
      <% if(user && user.usertype == "user"){%>
      <a href="/createuserad" class="btn-post-free">Post Ad <span>Free</span></a>
      <% }else if(user && user.usertype == "tradesman"){%>
      <a href="/createbusinessad" class="btn-post-free">Post Ad <span>Free</span></a>
      <% }else{%>
      <a href="#" data-toggle="modal" data-target=".login-popup" class="btn-post-free">Post Ad <span>Free</span></a>
      <% }%>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <%if (user) {%>
          <li><a id="hlHome" href="/" class="active">Home</a></li>
          <li><span class="nav-sepr"></span></li>
          <li><a id="hlAbout" href="/pages/abouttradie">About</a></li>
          <li><span class="nav-sepr"></span></li>
          <li><a id="hlPeople" href="/people">People</a></li>
          <li><span class="nav-sepr"></span></li>
          <li><a id="hlProfile" href="/users">Profile</a></li>
          <li class="logn-link"><a href="/logout">Logout</a></li>
        <%}else{%>  
        <li class="logn-link"><a href="#" data-toggle="modal" data-target=".login-popup">Login</a></li>
        <li class="logn-link"><a href="signup">Register</a></li>
        <%}%>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
<script type="text/javascript">
  jQuery(document).ready(function(){
    var url = window.location;
    jQuery(".navbar-right a").each(function(){
      jQuery(this).removeClass("active");
    });
    jQuery(".data-filter a").each(function(){
      jQuery(this).removeClass("active");
    });
    if(url.toString().indexOf("people") != -1)
    {
      jQuery("#hlPeople").addClass("active");
    }
    else if(url.toString().indexOf("about") != -1)
    {
      jQuery("#hlAbout").addClass("active");
    }
    else if(url.toString().indexOf("profile") != -1 || url.toString().indexOf("users") != -1)
    {
      jQuery("#hlProfile").addClass("active");
    }
    else if(url.toString().indexOf("following") != -1)
    {
      jQuery("#hlProfile").addClass("active");
    }
    else if(url.toString().indexOf("follower") != -1)
    {
      jQuery("#hlProfile").addClass("active");
    }
    else
    {
      jQuery("#hlHome").addClass("active");
    }

    if(url.toString().indexOf("people") != -1 && url.toString().indexOf("tradesman") != -1)
    {
      jQuery("#hlTrademan").addClass("active");
    }
    else if(url.toString().indexOf("people") != -1 && url.toString().indexOf("user") != -1)
    {
      jQuery("#hlUser").addClass("active");
    }
    else if(url.toString().indexOf("people") != -1)
    {
      jQuery("#hlAll").addClass("active");
    }
  });
  </script>